.layout{
    display: grid; 
    grid-template-columns: auto minmax(1080px, 1260px) auto; 
    grid-template-rows: 20px 1fr auto 100px; 
    gap: 50px 0px; 
    grid-template-areas: 
        ". header ."
        ". layout ."
        "special special special"
        ". footer ."; 

    padding: 70px 0 0 0;
    min-height: 100vh;
    box-sizing: border-box;

    @media screen and (max-width: 1100px) {
        grid-template-columns: auto minmax(760px, 1120px) auto; 
    }
    @media screen and (max-width: 800px) {
        grid-template-columns: 20px minmax(280px, 760px) 20px; 
        gap: 20px 0px; 
        padding: 40px 0 0 0;
    }

}

.main{
    grid-area: layout;
}