.header{
    max-width: 1260px;
    display: flex;
    justify-content: flex-end;
    grid-area: header;
    align-items: center;
}
.links{
    list-style-type: none;
    display: flex;
    a{  
        cursor: pointer;
        padding:0 20px;
        text-decoration: none;
        color: #939596;
        font-size: 20px;
line-height: 29px;
    }
}