.works{
    &__message{
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 50px;
    }

    &__cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        &--big{
            width: 100%;
            margin-top: 30px;
            @media screen and (max-width: 800px) {
               margin-top: 0px;
           }
        }
        width: calc( (100% - 40px) / 3);
        @media screen and (max-width: 800px) {
            width: calc( (100% - 40px) / 2);
            // &:first-child{
            //     width: 100%;
            //     margin-bottom: 40px;
            // }
            
        }
        @media screen and (max-width: 600px) {
         width: 100%;
         // &:first-child{
         //     width: 100%;
         //     margin-bottom: 40px;
         // }
         
     }
    }
}
