@import './styles/reset.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{}
.layout{
  &__about{
    margin-top: 5px;
  }
  &__skills{
    margin-top: 25px;
  }
  &__works{
    margin-top: 25px;
  }
  &__special{
    margin-top: 20px;
  }

}