.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    &-wrap{
        height: 100%;
    }
    @media screen and (max-width: 800px) {
        margin-bottom: 15px;
    }
    &--big{
        width: 1000px;
    }
    // a{
    //     display: block; 
    //     position: relative; 
    //     &::after{
    //         content: ''; 
    //         position: absolute; 
    //         top: 0; 
    //         left: 0; 
    //         right: 0; 
    //         bottom: 0; 
    //         background: rgba(0,0,0,.5);  
    //         opacity: 0;
    //     }
    //     &::before{
    //         content: ''; 
    //         position: absolute; 
    //         top: 0; 
    //         left: 0; 
    //         right: 0; 
    //         bottom: 0;  
    //         opacity: 0;
    //     }
    // }

    // a:hover:before,a:hover:after {
    //      opacity: 1; 
    // }
    &__info{
        padding: 15px;
    }
    &__name{
        margin-top: 15px;
        font-size: 20px;
        line-height: 29px;
        color: #090A0A;
    }
    &__description{
        margin-top: 5px;
        font-size: 17px;
        line-height: 20px;
        color: #7C7E80;
    }
    &__image{
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
        img{
            width: 100%;
            transition: 1s; 
            display: block; 
            height: 100%;
            object-fit: cover;
            object-position: left;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width: 800px) {
        &:first-child &__image img{
            max-height: 400px;
            object-fit: cover;
            object-position: top;
        }
    }
}

